@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 50;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-y: hidden;
  transition: 0.5s;
}
.active {
  height: 100%;
}

.overlay:not(.active) div {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #DesktopNavItems {
    display: none;
  }
}
